{% extends "base.html" %}
{% block title %}Login | Global Internship Portal{% endblock %}

{% block content %}
<div class="card">
  <h2>Login</h2>

  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}

  <form method="post" action="{{ url_for('main.login') }}">
    <label>Email</label>
    <input type="email" name="email" required value="{{ form.email if form and form.email }}">

    <label>Password</label>
    <input type="password" name="password" required>

    <div style="margin-top:.6rem;">
      <button type="submit" class="btn">Login</button>
      <a style="margin-left:8px;" href="{{ url_for('main.signup') }}">Create account</a>
    </div>
  </form>
</div>
{% endblock %}
