{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="card">
    <h2>My Profile</h2>

    <form method="POST" action="{{ url_for('student.update_profile') }}">

        <label>Name</label>
        <input type="text" name="name" value="{{ data.name }}" required>

        <label>Email (readonly)</label>
        <input type="email" value="{{ data.email }}" readonly>

        <label>Date of Birth</label>
        <input type="date" name="dob" value="{{ data.dob }}">

        <br><br>
        <label>Department</label>
        <input type="text" name="department" value="{{ data.department }}">

        <label>CGPA</label>
        <input type="number" step="0.01" name="cgpa" value="{{ data.cgpa }}">

        <button class="btn mt-2" type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}
